/* -------------------------------------------------------------------------------------------------
 * Modal - header
 * -----------------------------------------------------------------------------------------------*/

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 500;
}