/* -------------------------------------------------------------------------------------------------
 * Modal - overlay
 * ---
 */
.modal-overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: #00000090;
}