---
import Layout from "../layouts/Layout.astro";
import data from "../../public/data.json";
import CardCategory from "../components/products/cardCategory";
import ProductFeature from "../components/products/productFeature";
import Navbar from "../components/navbar";
import StoreDoubleColumn from "../components/store/storeDoubleColumn";
import TestimonialsFade from "../components/promo/testimonialsFade";
import PromoSectionLarge from "../components/promo/promoSectionLarge";
---

<Layout title="Landing Page">
  <header>
    <Navbar />
  </header>
  <main>
    <PromoSectionLarge
      title={"Check out our new collection"}
      full_description={data.products[0].full_description!}
      pageHeaderBgImg={"https://images.unsplash.com/photo-1627384113972-f4c0392fe5aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"}
      pageHeaderMinVh="90vh"
    />
    <div class="container my-5 mx-auto">
      <div class="flex justify-between items-center mb-4">
        <h4><b>Shop by category</b></h4>
        <a class="text-secondary text-md font-bold" href="#">
          Browse all categories ›
        </a>
      </div>
      <div class="grid grid-flow-col gap-6 mb-5 mx-auto">
        {
          data.categories.map((category) => (
            <div>
              <CardCategory
                classList="h-96"
                thumb_src={category.thumb_src}
                title={category.title}
              />
            </div>
          ))
        }
      </div>

      <PromoSectionLarge
        title={data.products[3].title}
        full_description={data.products[0].full_description!}
        pageHeaderBgImg={"https://images.unsplash.com/photo-1525904097878-94fb15835963?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"}
        pageHeaderMinVh="50vh"
        pageHeaderRadius="1rem"
      />
      <div class="my-5">
        <ProductFeature
          title={data.products[0].title}
          images={data.products[2].images!}
          full_description={data.products[0].full_description!}
          featuresDetails={data.products[0].featuresDetails!}
        />
      </div>
      <div class="mt-5 mb-10">
        <TestimonialsFade
          pageHeaderBgImg={"https://images.unsplash.com/photo-1534802046520-4f27db7f3ae5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2729&q=80"}
          pageHeaderMinVh="50vh"
        />
      </div>

      <StoreDoubleColumn />
    </div>
  </main>
</Layout>
