---
---

<footer class="border-top">
    <div class="text-center text-sm">
        All rights reserved. Copyright©{new Date().getFullYear()}
        &nbsp;Astro Ecommerce by
        <a
            href="https://www.creative-tim.com"
            class="text-primary mx-1"
            target="_blank">Creative Tim</a
        >.
    </div>
</footer>
